{% load static %}
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <div id="about-us" class="clear">
      <!-- ####################################################################################################### -->
      <section id="about-intro" class="clear">
        <div class="two_third first">
          <blockquote>
            <p><span>&ldquo;</span> About Us
Property Mavens is Melbourne’s leading independent property advisory firm.

Offering award winning buyer advocacy and property investment advice services to time poor professionals, anxious investors and frustrated home buyers in need of timely, professional and profitable property outcomes.

We provide a range of services including researching, sourcing, assessing and acquiring property both off and pre market via our well established agent networks.

At Property Mavens you can be assured the information you are given is based on decades of experience and extensive research to ensure we only recommend high performing investment grade properties.  

An experienced real estate agency, Property Mavens provides you with the unbiased and independent evidence you need, to support your buying decisions.

We also provide Property Portfolio Reviews and select Vendor Advocacy services.</p>
          </blockquote>
          <p>Applying well-honed analytical and negotiation skills for investors, our client’s earn up to 40% capital growth per annum. We do not sell or recommend new or off the plan properties to our clients and we provide genuine independent and licensed buyer advocacy solutions.

Applying multiple skill sets for homebuyers, we help you to select the right property, for the right price and we protect clients from overpaying. Because your home is your biggest asset, we also ensure your property has strong underlying investment fundamentals. </p>
          <p>Founded in 2012 by CEO, Accredited Property Investment Advisor and bestselling author Miriam Sandkuhler, Property Mavens was established after Miriam spent 15 years working in the financial services and real estate sectors, after she spotted the need for a calculated approach to be applied to direct property investing. Having received poor, costly and biased advice from selling agents and unqualified ‘advisors’ during her own investing experiences, Miriam wanted to ensure her clients received qualified, independent and unbiased advice that would lead to smarter and more profitable investing decisions and results.

Miriam also recognised the demand for and lack of female advisors and buyer agents in the marketplace and the need for a balanced feminine style to be applied to the profession.

By taking a financial planning approach to property investing and applying a buy and hold strategy for investors,  we have guided and facilitated hundreds of clients in purchasing high performing investment grade property, which delivers high returns and stable tenancies.

We understand that the property buying process can be time consuming, overwhelming and frustrating. There is so much conflicting advice in the market place that it is hard to decipher truth from fiction.

That’s where we come in. The Property Mavens team can take away your pain, frustration and confusion and make life easier for you by applying our professional and timely Maven Method ™ and our 57 point Checklist. We guide you, do all the work for you and provide you with evidence based recommendations to make profitable purchasing decisions easy. 

We secure property for 90% of our clients within 4 weeks of engaging our services. </p>
        </div>
        <div class="one_third"><img src="300x300.gif" alt=""></div>
      </section>
      <!-- ####################################################################################################### -->
      <section id="team">
        <h2>Meet The Team</h2>
        <ul class="clear">
          <li class="one_third first">
            <figure><img src="{% static 'images/rsz-miriam-wfzjsoyokgze.jpg' %}" alt="">
              <figcaption>
                <p class="team_name">Miriam Sandkuhler</p>
                <p class="team_title">Property Mavens Founder</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><img src="{% static 'images/guy-angwin-headshoy-wfvoxicgqhww.jpg' %}" alt="">
              <figcaption>
                <p class="team_name">Guy Angwin</p>
                <p class="team_title">Licensed Estate Agent </p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third">
            <figure><img src="{% static 'images/manuela-pless-wfdwsngdqtpd.jpg' %}" alt="">
              <figcaption>
                <p class="team_name">Manuela Pless</p>
                <p class="team_title">Licensed Estate Agent</p>
              </figcaption>
            </figure>
          </li>
          <li class="one_third first">
            <figure><img src="{% static 'images/100816-1.4.jpg' %}" alt="">
              <figcaption>
                <p class="team_name">Jemimah Barnett</p>
                <p class="team_title">Licensed Estate Agent</p>
              </figcaption>
            </figure>
          </li>  
        </ul>
      </section>
      <!-- ####################################################################################################### -->
    </div>
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
    <!-- ####################################################################################################### -->
  </div>
</div>